body {
  font-family: Helvetica, sans-serif;
  font-size: 16pt;
}

header {
  background-color: maroon;
  border-bottom: 1px solid lavender;
  color: white;
  padding: 16pt;
}

main {
  background-color: green;
  border: 1px blue;
  color: black;
  padding: 1em;
  margin: 15px;
}

footer {
  background-color: orange;
  border-top: 5px solid crimson;
  color: black;
  padding: 1em;
}

nav {
  background-color: white;
  padding: 5px;
}

a {
  color: black
}
